body{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif; 


}



*::before,
*::after {
	box-sizing: border-box;
}


html{scroll-behavior: smooth;   }

.main_container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    
}



* h1, p, a, h2, h3, ul, li, h4 {
    margin: 0;
    padding: 0;   
}

.header{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

width: 100%;
height: 100vh;
/* background-color: #536878;
background-image: url("./../img/header_img/bacground_header.jpg") ; */
background-size: cover;
background-position: center;



}

.header h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 130%;
text-align: center;
color: #FFFFFF;
padding-bottom: 25px;
}

.header p{ 
       
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
}


.header img{


width: 48px;
height: 48px;
position: absolute;
bottom: 30px;
left: 50%; 
transform: translate(-50%,0) 
}

.portfolio{
padding-top: 80px;
padding-bottom: 115px;
}



.portfolio h2{
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #000000;
    text-align: center;
    padding-bottom: 70px;
   
}

.portfolio li:hover {
    transform: translateY(-15px);
}

ul{
    display: grid;
    grid-template-columns: 540px 540px;
    grid-template-rows: 375px 375px;
    gap: 30px;
    list-style-type: none;
    
    
    
}

ul p{
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #000000;
    letter-spacing: 0;
    text-transform: none;
    text-align: left;
    padding-left: 20px;
    transition: transform 0.8s ease-in;
}

ul p:hover{color: darkgreen; }

li{
    
    transition: transform 0.4s ease-in;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);    
}

li a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    padding: 20px;
   
}

li img{padding-bottom: 20px;}

.padding {
    padding: 0px;
    padding-bottom: 20px;}



li a:hover{
color: darkgreen;
}




li h3 {
padding: 0px 20px 15px 20px;
font-weight: 600;
font-size: 24px;
line-height: 130%;
transition: transform 0.8s ease-in;
}


.footer {
    background: #1E4776;
    padding-top: 45px;
    padding-bottom: 108px;
    
    
   

}

.footer .main_container{
    display: flex;
    justify-content: space-between;
    
    
    
}

.name{
    max-width:350px;
    padding-right: 50px;
    flex-grow: 1;
   
} 
  
.name h4{
    
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: #7E9EC9;
    padding-bottom: 20px;
   
}

.name p{

    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #7E9EC9;
    text-transform: none;
    letter-spacing: 0px;
}


.media{
    max-width: 350px;
    flex-grow: 1;
    padding-right: 50px;}



.media p{
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    text-transform: none;
    letter-spacing: 0px;
    padding-bottom: 20px;}

.media ul{
 display: flex;}

.media li{
    box-shadow: none;}



.media img{
    padding: 0px;
}

.media a{
    display: contents;
}

.order{
    max-width: 350px;
    flex-grow: 1;}

.order p{
    
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    text-transform: none;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 20px;
    color: #7E9EC9;
}

.order a{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border:3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    text-transform: uppercase;
    transition: all 0.8s ease-in;}

    .order a:hover{
        background-color: #FFFFFF;
        color: #275BEC ;
        border:3px solid crimson;
    }

li > * + * {
padding-left: 30px;    }
 


/* forest */




.section{
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
    
}

.main_container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    
}

.section h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #000000;
    text-align: center;
    padding-bottom: 40px;
}

.section img{
    padding-bottom: 70px;
}

.text{
    max-width: 730px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    color: #000000;
    text-transform: none;
    letter-spacing: 0px;
    margin: 0 auto 15px;
   }

.link {
       padding-bottom: 80px;
       margin: 0px;
}

.back{
    display: inline-block;
   
   
    
}

.back a{
    
    text-decoration: none;
    padding:20px 30px 20px 30px;
    border: 3px solid #275BEC;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 54px;
    box-sizing: border-box;
    transition: all 0.8s ease-in;

} 

.back a:hover{
background-color: #275BEC;
color: #FFFFFF;


}

span{
    color: red;
    font-weight: 400;
    font-size: 16px;
}
